<p id="notice"><%= notice %></p>

<div class ="container">
<h3> Here is the info of your restaurant</h3>

<p>
  Name: <%= @restaurant.name %>
</p>

<p>
  Address: <%= @restaurant.address %>
</p>

<p>
  Category: <%= @restaurant.category.capitalize %>
</p>

<!-- ask about this review thing! -->

 <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all restaurants", restaurants_path %>
    </div>
  </div>
</div>



     <!-- <h2> the reviews of this place</h2>
<#%= @restaurant.reviews.each do |r| %>
<p><#%= r.content %></p>
<#%end %>

<div class="btn btn-dark">
<#%= link_to 'Create a review', new_restaurant_review_path(@restaurant) %>
</div>
</div>

 -->
